{{did-insert this.registerListener}}
{{will-destroy this.unregisterListener}}

<table class="table">
  <thead>
  <tr>
    <th scope="col">Date</th>
    <th>TVL, {{@quote}}</th>
    <th>LP Price, {{@quote}}</th>
    <th>APY, USDT%</th>
    <th>Daily<br>Interest, USDT%</th>
    <th>Invested, {{@quote}}</th>
    <th>Total LP</th>
    <th>Total LP, {{@quote}}</th>
    <th>ROI</th>
    <th>Min Token Price<br>for Breakeven</th>
  </tr>
  </thead>
  <tbody>
  {{#each-in this.table as |ts item|}}
    <tr>
      <td scope="row">{{substr ts 0 10}}</td>
      <td>{{converter item.tvl @quote ts}}</td>
      <td class="{{if item.price_warning 'text-white bg-danger' ''}}">{{converter item.price @quote ts}}</td>
      <td>{{perc item.apy 2}}</td>
      <td>{{perc item.daily_apr 4}}</td>
      <td><Input
        placeholder={{concat "Your investment, " @quote}}
        class="form-control"
        autocomplete="off"
        @value={{item.invested}}
        {{on "keyup" (action this.invest ts)}}
      /></td>
      <td>{{fixed item.lp_quantity 8}}</td>
      <td>{{fixed item.lp_quantity_usd 2}}</td>
      <td class="{{if item.roi (if (gt item.roi 0) 'text-white bg-success' 'text-white bg-danger') ''}}">{{perc item.roi 2}}</td>
      <td>{{fixed item.price_breakeven 8}}</td>
    </tr>
  {{/each-in}}
  </tbody>
</table>